<div>

    <style>
        #btnStartGame {
            background-color: #0d4806;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            border-radius: 5%;
        }
    </style>

    <div class="viewTitle">
        <h1>Player</h1>
    </div>
    <div class="viewContent">
        <table>
            <tr>
                <td><h3>Info</h3></td>
            </tr>
            <tr>
                <td>
                    <div>ID:</div>
                </td>
                <td>
                    <div id="playerIdValue">unknown</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>name:</div>
                </td>
                <td>
                    <div id="playerNameValue">unknown</div>
                </td>
            </tr>


            <tr>
                <td><h3>Load</h3></td>
            </tr>
            <tr>
                <td>
                    <input id="inputLoadName" type="text" placeholder="name">
                    <button id="btnLoadName">Load</button>
                </td>
            </tr>

            <tr>
                <td><h3>Create</h3></td>
            </tr>
            <tr>
                <td>
                    <input id="inputCreateName" type="text" placeholder="name">
                    <button id="btnCreateName">Create</button>
                </td>
            </tr>

            <tr>
                <td>
                    <button id="btnStartGame">Start Game</button>
                </td>
            </tr>
        </table>
    </div>
</div>