<div>
    <div class="viewTitle">
        <h1>Rewards</h1>
    </div>
    <div class="viewContent">
        <table class="rewardsTable">
            <tr>
                <td><h3>bonus rewards</h3></td>
            </tr>
            <tr>
                <td><h3 id="valueRewardsBonus">0</h3></td>
                <td>
                    <button id="btnRewardsBonus">open</button>
                </td>
            </tr>

            <tr>
                <td><h3>normal rewards</h3></td>
            </tr>
            <tr>
                <td><h3 id="valueRewardsNormal">0</h3></td>
                <td>
                    <button id="btnRewardsNormal">open</button>
                </td>
            </tr>
        </table>
    </div>
</div>