<div>

    <style>
        td {
            width: 30vh;
        }
    </style>

    <div class="viewTitle">
        <h1>Highscore</h1>
    </div>
    <div class="viewContent">
        <table class="highscoreTable">
            <tr>
                <td class="pos">pos</td>
                <td class="name">name</td>
                <td class="score">score</td>
            </tr>
            <tr>
                <td class="pos">1</td>
                <td class="name" id="name1">no name</td>
                <td class="score" id="score1">0</td>
            </tr>
            <tr>
                <td class="pos">2</td>
                <td class="name" id="name2">no name</td>
                <td class="score" id="score2">0</td>
            </tr>
            <tr>
                <td class="pos">3</td>
                <td class="name" id="name3">no name</td>
                <td class="score" id="score3">0</td>
            </tr>
            <tr>
                <td class="pos">4</td>
                <td class="name" id="name4">no name</td>
                <td class="score" id="score4">0</td>
            </tr>
            <tr>
                <td class="pos">5</td>
                <td class="name" id="name5">no name</td>
                <td class="score" id="score5">0</td>
            </tr>
            <tr>
                <td class="pos">6</td>
                <td class="name" id="name6">no name</td>
                <td class="score" id="score6">0</td>
            </tr>
            <tr>
                <td class="pos">7</td>
                <td class="name" id="name7">no name</td>
                <td class="score" id="score7">0</td>
            </tr>
            <tr>
                <td class="pos">8</td>
                <td class="name" id="name8">no name</td>
                <td class="score" id="score8">0</td>
            </tr>
            <tr>
                <td class="pos">9</td>
                <td class="name" id="name9">no name</td>
                <td class="score" id="score9">0</td>
            </tr>
            <tr>
                <td class="pos">10</td>
                <td class="name" id="name10">no name</td>
                <td class="score" id="score10">0</td>
            </tr>
            <tr>
                <td class="pos">Player: </td>
                <td class="name" id="nameP">no name</td>
                <td class="score" id="scoreP">0</td>
            </tr>

        </table>
    </div>
</div>